<nav class="navbar">

  <a class="logo link" href="/">
    <h1>⚡️electro|split</h1>
    <h6>futec gateway - A1 902</h6>
  </a>

  <a class="link newCycleLink" href="/newCycle">Add new bill cycle</a>
  <a class="link historyLink" href="/history">View previous bill cycles</a>
  {{! <a href="/history/child">Nested route of history</a> }}
  <a class="link aboutLink" href="/about">About</a>
  <a class="link settingsLink" href="/settings">Settings</a>
</nav>

<div class="bottomNav">
  <a class="link indexIcon" href="/newCycle">&#9998;<br />Add</a>
  <a class="link historyIcon" href="/history">&starf;<br />View</a>

  <a class="link aboutIcon" href="/about">&#169;<br />About</a>
  <a class="link settingsIcon" href="/settings"><span class="settingIcon">&#9881;</span><br />Settings</a>
</div>