<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electro|split</title>
    <link rel="shortcut icon" href="/Assets/lightning-icon-original.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    
</head>
<body>
    {{> navbar}}

     <div class="errorContainer">
        <img class="errorImg" src="/Assets/errorGraphic.png" alt="">
        <p>Oops! Something went wrong 😔 Please reach out to me at <span class="email">hizaidii@gmail.com</span> and I will try to fix it as soon as possible.</p>
    </div>


    {{> footer}}

    <script src="./js/script.js"></script>
</body>
</html>